<div class="jumbotron">
  <h4 class="padding-left-about"><b>Schools Attended</b></h4>
  <ul class="list-group">
    <li class="list-group-item"><a href="http://www.rideauhs.ocdsb.ca/">Rideau High School </a> </li>
    <li class="list-group-item"><a href="http://carleton.ca/">Carleton University </a></li>
  </ul>

  <h4 class="padding-left-about"><b>Program Studied</b></h4>
  <ul class="list-group">
    <li class="list-group-item"><a href="http://scs.carleton.ca/">Bachelor in Computer Science </a></li>
  </ul>

  <h4 class="padding-left-about"><b>Computer Skills</b></h4>
  <ul class="list-group">
    <li class="list-group-item">Programmed in: Assembly, C, Objective-C, C++, C#, .Net VB, Java, XML, JSP, http, HTML5, PHP, MySQL, JavaScript, SQLite,
      Android Eclipse.</li>
    <li class="list-group-item">Knowledge in: Windows, Linux (Ubuntu), Mac OS, Apache, Tomcat, QtCreator, sockets, message protocols, Xenomai, SQL Server
      Reporting Services, X-Code, Android API, X-unit testing, TCP/IP, Hibernate, nosql database, RESTful web services, MVC,
      Angular JS, Angular2</li>
    <li class="list-group-item">Knowledge of Microsoft Office products(word,excel,powerpoint).</li>
    <li class="list-group-item">Knowledge of windows OS, Linux OS, Mac.</li>
    <li class="list-group-item">Experienced in IBM Cognos 8 and 10 ( report studio, Framework Manager.. ect)</li>
  </ul>

  <h4 class="padding-left-about"><b>Employment History</b></h4>
  <h5 class="padding-left-about">Accreditation Canada - Software Developer</h5>
  <ul class="list-group">
    <li class="list-group-item">Responsible for designing, implementing and maintaining software applications, systems and utilities. (Includes internet
      based and Windows applications for internal and external clients, as well as database systems.)</li>
    <li class="list-group-item">Develops complex reports and analysis software.</li>
    <li class="list-group-item">Mobile application development (iOS)</li>
    <li class="list-group-item">Create reports with SQL Server Reporting Services.</li>
    <li class="list-group-item">VB.Net, database/data structure design and technical writing.</li>
    <li class="list-group-item">Handled multiple priorities and deadlines while maintaining attention to detail.</li>
    <li class="list-group-item">Add and modify code in program as need in .NET VB .</li>
  </ul>

  <h5 class="padding-left-about">The Department of Canadian Heritagey - Analyst/Programmer</h5>
  <ul class="list-group">
    <li class="list-group-item">Identify and request clarification on any missing or unclear GCBO Business Requirements elements as required by the design
      phase.
    </li>
    <li class="list-group-item">Create design specifications to meet business requirements, following the proposed PCH Gs & Cs architecture.</li>
    <li class="list-group-item">Consult with the technical lead responsible for the PCH Gs & Cs architecture, as required.</li>
    <li class="list-group-item">Create reports with SQL Server Reporting Services.</li>
    <li class="list-group-item">Perform unit testing of the GCBO application.</li>
    <li class="list-group-item">Convert Access Data base 2003 to 2010.</li>
    <li class="list-group-item">Add and modify code in program as need in .NET VB .</li>
  </ul>

  <h5 class="padding-left-about">IBM - Technical Analysts</h5>
  <ul class="list-group">
    <li class="list-group-item">Assisted clients with issues related to Cognos 8/10 BI software. Developed good understanding of the third party software
      environments supported by Cognos BI, such as, SQL Server, Oracle Database, Internet Browsers, etc.</li>
    <li class="list-group-item">Created Test Cases and collaborated with the software development team to fix bugs (defects) and include additional features
      in the Cognos BI software.</li>
    <li class="list-group-item">Developed critical and analytical thinking, as most of the issues presented by the clients were challenging and required
      quick resolution.</li>
    <li class="list-group-item">Demonstrated excellent oral and written communication skills by communicating with clients via email and telephone on
      a daily basis.</li>
  </ul>

  <h4 class="padding-left-about"><b>Volunteer Work</b></h4>
  <ul class="list-group">
    <li class="list-group-item">Volunteer as a youth leader with <a href="http://www.grdo.ca/">Gloucester Recreation Development Program (GRDO).</a></li>
    <li class="list-group-item">Programmed soccer training skills</li>
    <li class="list-group-item">supervised children ages 5-8 and 9-13</li>
    <li class="list-group-item">completed 140 hours of volunteer work</li>
    <li class="list-group-item">Volunteered in a group for Carleton University to reprogram and remodel the game "Half Life 2" using c++.</li>
  </ul>
  <h4 class="padding-left-about"><b>Charities</b></h4>
  <h5 class="padding-left-about"><a href="http://cncycle.ca/">CN CYCLE for CHEO</a></h5>
  <ul class="list-group">
    <li class="list-group-item">Raised money to support CHEO</li>
    <li class="list-group-item">Biked 70km for charity</li>
  </ul>
  <ul class="list-group">
    <h5 class="padding-left-about"><a href="http://tournaments.ottawafootysevens.com/">OTTAWA REGIONAL CANCER FOUNDATION </a></h5>
    <li class="list-group-item">Raised money to support cancer research.</li>
    <li class="list-group-item">Made a coed-soccer team to play in a tournament in support of this charity.</li>
  </ul>
</div>