<div class="jumbotron">
  <h3 class="padding-left-about"><b>Side Projects</b></h3>
  <h4 class="padding-left-about">Andriod</h4>
  <ul class="list-group">
    <li class="list-group-item">
      <img src="assets/Images/googlePlay.jpg" alt="google play" width="42" height="42">
      <a href="https://play.google.com/store/apps/details?id=com.newcalapp">Calculator First
      </a>
    </li>
    <li class="list-group-item">
      <img src="assets/Images/googlePlay.jpg" alt="google play" width="42" height="42">
      <a href="https://play.google.com/store/apps/details?id=com.testingagame">Games Questo
      </a>
    </li>
    <li class="list-group-item">
      <img src="assets/Images/googlePlay.jpg" alt="google play" width="42" height="42">
      <a href="https://play.google.com/store/apps/details?id=com.Y3.studentsyard">Student's Yard -> No server attached to it.</a>
    </li>
    <li class="list-group-item">
      <img src="assets/Images/googlePlay.jpg" alt="google play" width="42" height="42">
      <a href="https://play.google.com/store/apps/details?id=com.studentsyard">
       Student's Yard -> Reprogrammed Using Parse as the Database</a>
    </li>
  </ul>

  <h4 class="padding-left-about">AngularJS</h4>
  <ul class="list-group">
    <li class="list-group-item">
      <a href="Projects/AngularJS/index.htm">Weather Forecast</a>
    </li>
  </ul>
  <h4 class="padding-left-about">Angular2</h4>
  <ul class="list-group">
    <li class="list-group-item">
      <a href="https://github.com/Yacoub89/usersAndPosts">Users And Posts</a>
    </li>
  </ul>

</div>