.padding-top{
 padding-top:110px;   
}
/*.carousel-indicators .active{
    background-color: rgb(0, 160, 211) !important;
    border: none !important;
}
.carousel-indicators li{
    background-color: black !important;
border: 1px solid black !important;
    
}
*/


#top-logo {
    background-image: url("logo.png") ;
     background-size: cover;
    width: auto;
    height: 422px;
    background-repeat: no-repeat;
}
#arrow{
    background-image: url("Red arrow top.png") ;
    float: left;
    width: 32px;
    height: 37px;
    background-repeat: no-repeat;
    margin-top: 193px;
   /* margin-left: 247px;*/
}

#logo_text{
    float:left;
    margin-top: 170px;
    margin-left: 6px;
     font-size: 60px;
    color:#FFF;
}

.intro{
    
    float:left;
    font-size: 26px;
    font-family: "Myriad Pro";
    padding-top: 100px;
 /*   padding-left: 152px;
    width:1000px;*/
}

p{
 padding-bottom: 20px;   
}

.top-button{
    float:left;
   /* padding-left: 153px;*/
    clear:both;

}

.top_button_one{
 float:left;   
}

.top_button_one button{
    
    background-color: rgb(0, 160, 211);
    width: 208px;
    height: 55px;
    font-size: 20px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border: none;
    padding-top: 5px;
}

.top_button_two{
 float:left;   
    padding-left: 150px;
}
.top_button_two button{
    
    background-color: rgb(0, 160, 211);
    width: 208px;
    height: 55px;
    font-size: 20px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border: none;
    padding-top: 5px;
}
.top_button_three{
 float:left;   
    padding-left:150px;
}
.top_button_three button{
    
    background-color: rgb(0, 160, 211);
    width: 208px;
    height: 55px;
    font-size: 20px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border: none;
    padding-top: 5px;
}

@media (max-width: 990px) {

    .top_button_three{
   padding-top:20px;
    padding-left:0;
        clear:both;
    }
}
@media (max-width:654px) {
  .top_button_two{
 clear:both;
       padding-top:20px;
    padding-left: 0;
  }

}

.section_one{
      float: left;
    clear: both;
  /*  padding-left: 100px;*/
    padding-top: 100px;
}
.small_arrow{
    clear:both;
    float:left;   
    background-image: url("Red Arrow copy 3.png") ;  
    width:17px;
    height: 19px;
     margin-TOP: 26px;
}
.section_one_tittle{
    float: left;
    padding-left: 12px;
    Font-size: 50px;
    font-family: "Myriad Pro";
    color: rgb(0, 160, 211);
    text-transform: uppercase;
       
}
.section_one_left{
 float:left;   
}
.section_one_right{
    float: left;
    padding-left: 16px;
}
.section_one_right_top{
float:left;
}
.section_one_right_bottom{
        clear: both;
    float: left;
}
.section_one_text{
    float:left;
    font-size: 26px;
    font-family: "Myriad Pro";
    padding-top: 30px;
    padding-left: 14px;
    width:1000px;
}
.slider{
    float:left;
    clear:both;
    width:100%;
}
.item_one{
 float:left;
    padding-left: 116px;
}
.item_one_text{
    float: left;
    clear: both;
    width: 165px;
    padding-top: 20px;
}
.item_three{
 float:left;
    padding-left: 40px;
}
.item_four{
 float:left;
    padding-left: 40px;
}
.item_two{
   /* background-image: url("icon%20Hover%20.png") ;*/
 float:left;
    padding-left: 40px;
}
.arrow_left{
 padding-top: 50px;   
}

.carousel-control.left{
    background-image: none !important;
    padding-right: 92px !important;
}
.carousel-control.right{
    background-image: none !important;
    padding-left: 70px !important;
}
.arrow_right{
 padding-top: 50px;   
}
.sect_one_bottom_sec{
 float:left;       
}
.bottom_title{
    color: rgb(0, 160, 211);
    text-transform: uppercase;
    float:left; 
    padding-left: 55px;
    padding-top: 50px;
    
}
.bottom_sec_footer{
    float: left;
    clear: both;
    padding-top: 20px;
    padding-left: 55px;   
}
.bottom_left{
    float:left;   
}

.bottom_left_top{
    float:left;   
}

.bottom_left_bottom{
    float: left;
clear: both;
}

.bottom_left_bottom ul{
    
    padding-left: 13px !important;
    padding-top: 5px !important ;
}

.bottom_middle{
    float:left;  
    padding-left: 60px;
}

.bottom_middle_top{
    float:left;   
}

.bottom_middle_bottom{
    float: left;
    clear: both;
}

.bottom_middle_bottom ul{
    
    padding-left: 13px !important;
    padding-top: 5px !important ;
}
.bottom_right{
    float:left;  
    padding-left: 60px;
}

.bottom_right_top{
    float:left;   
}

.bottom_right_bottom{
    float: left;
    clear: both;
}

.bottom_right_bottom ul{
    
    padding-left: 13px !important;
    padding-top: 5px !important ;
}

hr{
    float: left;
    height: 3px;
    width: 100%;
    background-color: rgb(188, 188, 188);
    margin-top: 85px;
}

.section_two_right{
float:left;
    padding-left:23px;
}

.section_three_right{
    float:left;
    padding-left:23px;
}
.arrow_left_two{
    padding-top: 50px;
    padding-left: 54px;
}

.sec_three_bottom_left{
    float:left;
}
.sec_three_bottom_left_right{

    float: left;
    padding-left: 20px;   
}
.bottom_left_img{
 float: left;
padding-left: 53px;   
}
.sec_three_bottom{
    float:left;   
    width: auto;
    padding-bottom: 100px;
}
.sec_three_bottom_right_top{
    color: #00A0D3;
    font-size: 22px;
    width: 210px;
}
.sec_three_bottom_right_bottom{
    font-size: 15px;
    color: #BCBCBC;
    width: 210px;
}
.sec_three_bottom_fotter{
    float:left;
    clear:both;
    padding-left: 124px;
    padding-top: 20px;
}
.sec_three_bottom_fotter button{
    background-color: rgb(0, 160, 211);
    width: 208px;
    height: 55px;
    font-size: 20px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border: none;
    padding-top: 5px;   
}
.sec_three_buttom_right{
    width: 500px;
    float: left;
    padding-left: 50px;
}
.sec_three_buttom_right_bottom{
    float: left;
    padding-left: 50px;
    width: 500px;
}

.sec_three_buttom_right ul{
    padding-left: 13px !important;
    padding-top: 5px !important ;
}


#support{
    background-image: url("Layer%203.png") ;
     background-size: cover;
    width: auto;
    height: 230px;
    background-repeat: no-repeat;
}
#support_text_top{
   /* padding-left: 236px;*/
    padding-top:50px;
}
#support_text_bottom{
   /* padding-left: 236px;*/
    padding-top: 20px;   
}
.fotter{
     background-image: url("Layer%203%20copy.png") ;
     background-size: cover;
    width: auto;
    height: 230px;
    background-repeat: no-repeat;
}
.fotter_social{
    float: right;
    padding-top: 50px;
   /* padding-right: 273px; */
}
.fotter_text{
    float:left;
    clear:both;
    color: rgb(223, 229, 232);
   /* padding-left: 236px;
    width: 1139px;*/
    padding-top: 40px;
    
}

.section_two_tittle{
        float: left;
    padding-left: 12px;
    Font-size: 50px;
    font-family: "Myriad Pro";
    color: rgb(217, 217, 217);
    text-transform: uppercase;
}
